<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Debug</key>
			<false/>
			<key>Fixes</key>
			<dict>
				<key>FixRegions_10000000</key>
				<true/>
				<key>NewWay_80000000</key>
				<true/>
			</dict>
		</dict>
		<key>ResetAddress</key>
		<string>0x64</string>
		<key>ResetValue</key>
		<string>0xFE</string>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<true/>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>slide=0 kext-dev-mode=1 npci=0x2000</string>
		<key>DefaultVolume</key>
		<string>Macintosh HD</string>
		<key>Fast</key>
		<false/>
		<key>Legacy</key>
		<string>PBR</string>
		<key>Log</key>
		<false/>
		<key>Timeout</key>
		<integer>3</integer>
	</dict>
	<key>CPU</key>
	<dict>
		<key>Type</key>
		<string>0x0301</string>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<false/>
		</dict>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<false/>
			<key>FixOwnership</key>
			<false/>
			<key>Inject</key>
			<false/>
		</dict>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Custom</key>
		<dict>
			<key>Entries</key>
			<array>
				<dict>
					<key>InjectKexts</key>
					<true/>
					<key>SubEntries</key>
					<true/>
					<key>Type</key>
					<string>OSXRecovery</string>
					<key>Volume</key>
					<string>Recovery HD</string>
				</dict>
				<dict>
					<key>InjectKexts</key>
					<true/>
					<key>SubEntries</key>
					<true/>
					<key>Type</key>
					<string>OSX</string>
					<key>Volume</key>
					<string>Test Partition</string>
				</dict>
			</array>
		</dict>
		<key>Debug</key>
		<false/>
		<key>Language</key>
		<string>en:0</string>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<true/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>ScreenResolution</key>
		<string>1360x768</string>
		<key>TextOnly</key>
		<true/>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>CustomEDID</key>
		<data>AP///////wAiZLYE7ZkAABUUAQOAGw94CmhFl1pSjCcZUFQAAAABAQEBAQEBAQEBAQEBAQEBFhxWeFAAJjAwQmgADpYQAAAZAAAA/gAAAAAAAAAAAAAAAAAAAAAA/ABIU0QxMjFQSFcxCiAgAAAAEAAKICAgICAgICAgICAgALk=</data>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<false/>
			<key>NVidia</key>
			<false/>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<true/>
		<key>Debug</key>
		<false/>
		<key>FakeCPUID</key>
		<string>0x010676</string>
		<key>KernelCpu</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>SSD TRIM</string>
				<key>Find</key>
				<data>QVBQTEUgU1NE</data>
				<key>Name</key>
				<string>IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>AAAAAAAAAAAA</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>xml.zlib -&gt; aml.zlib</string>
				<key>Find</key>
				<data>eG1sLnps</data>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>YW1sLnps</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>AD1984 -&gt; ALC269 Codec</string>
				<key>Find</key>
				<data>hBnUEQ==</data>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>aQLsEA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Zero our jne chk for 10.7 and up</string>
				<key>Find</key>
				<data>hAjsEA==</data>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>AAAAAA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Zero our jne chk for 10.7 and up</string>
				<key>Find</key>
				<data>hBnUEQ==</data>
				<key>Name</key>
				<string>AppleHDA</string>
				<key>Replace</key>
				<data>AAAAAA==</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>LogEveryBoot</key>
		<string>10</string>
		<key>LogLineCount</key>
		<integer>3000</integer>
		<key>MLB</key>
		<string>ffffffffffffff9A7</string>
		<key>MountEFI</key>
		<false/>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>11/14/08</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>MBA21.88Z.0075.B03.0811141325</string>
		<key>Board-ID</key>
		<string>Mac-F42D88C8</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>ffffffffffffff9A7</string>
		<key>BoardVersion</key>
		<string>MacBookAir2,1</string>
		<key>Family</key>
		<string>MacBook</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<string>Yes</string>
		<key>ProductName</key>
		<string>MacBookAir2,1</string>
		<key>SerialNumber</key>
		<string>ffffffff9A7</string>
		<key>Trust</key>
		<false/>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectSystemID</key>
		<true/>
	</dict>
</dict>
</plist>
